:root {
    --buttons-color: #AAB396;
    --hover-color: #8C9A6B;
    --active-color: #8f7161;
}

.book-details {
    display: flex;
    padding: 20px;
}

.book-cover {
    flex: 0 0 200px;
    margin-right: 20px;
}

.book-cover img {
    width: 100%;
    height: auto;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);
}

.book-info {
    flex: 1;
    padding-right: 20px;
}

.book-title {
    font-size: 28px;
    margin-bottom: 10px;
    color: #5c3d2e;
}

.rating {
    color: #ffc107;
    margin-bottom: 10px;
}

.rating-value {
    color: #333;
    margin-right: 5px;
}

.author, .category {
    color: #777;
    margin-bottom: 5px;
}

.description {
    line-height: 1.6;
    margin-bottom: 20px;
}

.actions button {
    background-color: var(--buttons-color);
    color: #fff;
    border: none;
    padding: 15px 30px;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
    font-size: 16px;
    font-weight: 500;
}

.actions button:first-child {
    margin-left: 0;
}

.actions button:hover, .actions button.added:hover {
    background-color: var(--hover-color);
}

.actions button.added {
    background-color: var(--active-color);
    color: #fff;
}

.add-review {
    border: 1px solid #ddd; /* لون رمادي فاتح للإطار */
    padding: 15px; /* مسافة داخلية عشان الكلام ما يكونش لازق في الإطار */
    margin-top: 20px; /* مسافة بينه وبين القسم اللي فوقه */
    border-radius: 5px; /* حواف مدورة بسيطة */
}

.add-review h3 {
    font-size: 1.2em; 
    color: #333;
    margin-top: 0; 
    margin-bottom: 10px; 
}

.add-review .form-group {
    margin-bottom: 15px;
}

.add-review label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.add-review textarea.form-control {
    width: 100%; 
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box; 
}

.add-review button.btn-primary {
    background-color: #007bff; 
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.add-review button.btn-primary:hover {
    background-color: #0056b3;
}
