aside {
    width: 25%;
    float: left;
    padding: 10px;
}
.aside__h2 {
    color: #5c4033;
    font-size: 20px;
    margin-bottom: 10px;
}

.aside__ul {
    width: 18%;
    list-style: none;
    padding: 0;
}

.aside_ul_categories {
    width: 100%;
    padding: 10px;
    margin-bottom: 5px;
    border: 1px solid #ccc;
    background-color: white;
    border-radius: 5px;
    cursor: pointer;
    text-align: left;
}

    .aside_ul_categories.active {
        background-color: #5c4033;
        color: white;
    }

.verticle-line {
    border-left: 1px solid #ccc;
    height: 65vh;
    position: absolute;
    left: 25%;
    /*  margin-bottom: 30;*/
    margin-top: -550px;
}

.main {
    width: 75%;
    float: right;
    padding: 20px;
}

.main__top {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    /margin-bottom: 20px;
    / position: relative;
    top: -40px; /* Adjust to align with the header */
    margin-top: -550px;
}

.main__h2 {
    color: #5c4033;
    font-size: 20px;
    margin: 0;
    margin-left: 100px;
}

select {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    position: relative;
    top: -10px; /* Adjust to align with the header */
}

@media (max-width: 768px) {
    .aside, .main {
        width: 100%;
        float: none;
    }

    .verticle-line {
        display: none;
    }

    .main__top {
        top: 0;
    }

    select {
        top: 0;
    }
}
