@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Pacifico&display=swap');


:root {
    --body-color: #FFF8E8;
    --first-color: #674636;
    --second-color: #F7EED3;
    --buttons-color: #AAB396;
}

body {
    background-color: var(--body-color);
    font-family: 'Inter', sans-serif;
    color: var(--first-color) !important;
}

.navbar {
    background-color: var(--first-color) !important;
    height: 80px;
    padding: 0;
}

.header-logo {
    font-family: "Pacifico", cursive;
    color: var(--body-color);
    font-size: 30px;
    padding-top: 10px;
}

.search-container {
    width: 300px;
    background-color: var(--second-color);
    border-radius: 25px;
    height: 40px;
}

.search-input {
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 20px;
    height: 40px;
    padding-left: 10px;
}

.nav-link {
    color: var(--body-color) !important;
    font-size: 18px;
    text-decoration: none !important;
}

.nav-link:hover {
    text-decoration: underline !important;
}

.header-button {
    background-color: var(--buttons-color);
    color: var(--body-color);
    border-radius: 25px;
    padding: 10px 20px;
    border: none;
    font-size: 18px;
    margin-right: 100px;
}

.header-button:hover {
    background-color: #9ba486;
}

.custom-toggler .navbar-toggler-icon {
    background-image: none;
    display: block;
    width: 30px;
    height: 3px;
    background-color: var(--body-color);
    margin: 6px 0;
    position: relative;
}

.search-container-mobile {
    width: 90%;
    margin: 0 auto;
    background-color: var(--second-color);
    border-radius: 25px;
    height: 40px;
    display: flex;
    align-items: center;
    padding: 0 10px;
}

.search-input-mobile {
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 16px;
    height: 100%;
    width: 100%;
    padding-left: 10px;
}

.user-toggler {
    background-color: transparent;
    border: none;
}

.user-toggler-list {
    position: absolute;
    right: 2%;
    top: 65px;
    background-color: white;
    border-radius: 10px;
    border: 2px solid var(--first-color);
    display: none;
}

.user-toggler-list > ul {
    list-style-type: none;
    list-style-position: outside;
    padding: 5px;
    
}

.user-toggler-list > ul li {
    padding-bottom: 5px; 
    font-weight: 700;
}

.user-toggler-list > ul li:hover {
    transform: scale(1.05);
}

.user-toggler-list a {
    color: inherit;
    text-decoration: none;
}

.user-toggler-list a:hover {
    text-decoration: underline
}

.user-toggled {
    display: block;
}

.search-form {
    display: flex;
}

.search-btn {
    border: none;
    background-color: transparent;
}
/* Make sure the mobile search doesn't show on desktop */
@media (min-width: 992px) {
    .search-container-mobile {
        display: none !important;
    }

}

@media (max-width: 991px) {

    .nav-link {
        font-size: 0.95rem;
    }

    .navbar-collapse {
        background-color: var(--first-color);
        position: absolute;
        top: 80px;
        left: 0;
        right: 0;
        z-index: 1;
    }

    .header-button {
        margin: auto;
    }

    .cards {
        flex-wrap: wrap;
    }

    .cards-card {
        width: 170px;
        gap: 10px;
    }

    .card-img img {
        width: 100%;
    }
    .user-toggler {
        display: none;
    }
    .user-toggler-list {
        position: relative;
        background-color: transparent;
        transform: translate(12px, -60px);
    }

    .user-toggler-list > ul li {
        font-weight: 300;
    }

    .user-toggler-list > ul li:hover {
        transform: scale(1);
    }

    .user-toggler-list a {
        color: var(--body-color);
    }
}

/* Cards Section */

.cards {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.card-icon {
    position: absolute;
    top: 9px;
    right: 9px;
    font-size: 42px;
}

.card-item {
    position: relative;
    background-color: #f6eac6;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 300px;
    height: 450px;
    max-width: 90%;
}


.card-item img {
    width: 110px;
    height: auto;
    margin-bottom: 15px;
}

.card-item h2 {
    font-size: 1.5em;
    margin: 5px 0;
    text-align: center;
}

.card-item p {
    font-size: 1.15em;
    color: #666;
    margin: 5px 0;
    text-align: center;
}

.card-item .price {
    font-size: 1.2em;
    font-weight: bold;
    color: #333;
    margin: 10px 0;
}

.card-item button {
    background-color: #AAB396;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
    width: 100%;
    max-width: 200px;
    transition: background-color 0.3s;
}

    .card-item button:hover {
        background-color: #6a7454;
    }

@media (max-width: 600px) {
    .card-item {
        width: 80%;
        padding: 15px;
    }

    .card-item h2 {
        font-size: 1.2em;
    }

    .card-item p {
        font-size: 0.8em;
    }

    .card-item .price {
        font-size: 1em;
    }

    .card-item button {
        padding: 8px 15px;
        font-size: 0.9em;
    }
}

.image-container {
    position: relative;
    width: 110px;
    height: 170px;
}