@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Pacifico&display=swap');


:root {
    --body-color: #FFF8E8;
    --first-color: #674636;
    --second-color: #F7EED3;
    --buttons-color: #AAB396;
}

body {
    background-color: var(--body-color);
    font-family: 'Inter', sans-serif;
    color: var(--first-color) !important;
}

.navbar {
    background-color: var(--first-color) !important;
    height: 80px;
    padding: 0;
}

.header-logo {
    font-family: "Pacifico", cursive;
    color: var(--body-color);
    font-size: 30px;
    padding-top: 10px;
}

.search-container {
    width: 300px;
    background-color: var(--second-color);
    border-radius: 25px;
    height: 40px;
}

.search-input {
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 20px;
    height: 40px;
    padding-left: 10px;
}

.nav-link {
    color: var(--body-color) !important;
    font-size: 18px;
    text-decoration: none !important;
}

.nav-link:hover {
    text-decoration: underline !important;
}

.header-button {
    background-color: var(--buttons-color);
    color: var(--body-color);
    border-radius: 25px;
    padding: 10px 20px;
    border: none;
    font-size: 18px;
    margin-right: 100px;
}

.header-button:hover {
    background-color: #9ba486;
}

.custom-toggler .navbar-toggler-icon {
    background-image: none;
    display: block;
    width: 30px;
    height: 3px;
    background-color: var(--body-color);
    margin: 6px 0;
    position: relative;
}

.search-container-mobile {
    width: 90%;
    margin: 0 auto;
    background-color: var(--second-color);
    border-radius: 25px;
    height: 40px;
    display: flex;
    align-items: center;
    padding: 0 10px;
}

.search-input-mobile {
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 16px;
    height: 100%;
    width: 100%;
    padding-left: 10px;
}


/* Make sure the mobile search doesn't show on desktop */
@media (min-width: 992px) {
    .search-container-mobile {
        display: none !important;
    }
}

@media (max-width: 992px) {

    .nav-link {
        font-size: 0.95rem;
    }

    .navbar-collapse {
        background-color: var(--first-color);
        position: absolute;
        top: 80px;
        left: 0;
        right: 0;
        z-index: 1;
    }

    .header-button {
        margin: auto;
    }
}

/* Cards Section */

.cards {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.cards-card {
    position: relative;
}

.card-icon {
    position: absolute;
    top: 9px;
    right: 9px;
    font-size: 30px;
}

@media only screen and (max-width:990px) {
    .cards {
        flex-wrap: wrap;
    }

    .cards-card {
        width: 170px;
        gap: 10px;
    }

    .card-img img {
        width: 100%;
    }
}